# ignore these folders:
# ignore these files:
.ds_store

# --------------------

# include these folders:
!/.idea/
!/.vscode/
!/res/configs/regolith/i3/config.d.defaults

# include these files:
!.gitkeep
